<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eve-Logi</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}"
        media="screen,projection" />
</head>

<body class="bg-gray-100">
    {% block header %} {% endblock header %}
    {% block main %} {% endblock main %}
</body>

</html>