{% extends 'base.html' %} {% block header %}
<div class="bg-gray-800 h-15 flex justify-between items-stretch">
    <!-- logo and menu -->
    <div class="flex justify-between flex-grow-0 items-center">
        <svg class="h-10 w-10 text-gray-100 ml-2 sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <div class="text-gray-100 tracking-wide text-4xl font-bold ml-2">EVELOGI</div>
    </div>
    <!-- functions -->
    <div class="hidden justify-evenly text-gray-100 sm:flex flex-grow items-center">
        <div class="tracking-wide transition duration-300 ease-in-out hover:bg-green-500 hover:text-white py-3 px-5">Appraisal</div>
        <div class="tracking-wide transition duration-300 ease-in-out hover:bg-green-500 hover:text-white py-3 px-5">Trade</div>
        <div class="tracking-wide transition duration-300 ease-in-out hover:bg-green-500 hover:text-white py-3 px-5">Industry</div>
    </div>
    <!-- login -->
    <div class="flex-grow-0 self-center">
        <img src="{{ url_for('static', filename='img/eve-sso-login-white-small.png') }}" alt="login">
    </div>
</div>
{% endblock header %} {% block main %}
<div
    class="container mx-auto mt-10 bg-white text-center h-auto max-w-xs sm:max-w-md lg:max-w-2xl rounded-xl border-gray-800 border-4 border-solid">
    <div class="text-3xl mt-5">Lorem ipsum dolor sit amet.</div>
    <div class="mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae nostrum ullam iusto,
        debitis reiciendis
        maiores corporis odit voluptatibus porro inventore, omnis perferendis temporibus ratione animi laudantium,
        suscipit tempora autem.
    </div>
    <div class="mx-auto mt-20 h-40 w-72">
        <a href="#" class="inline-block transition duration-150 ease-in-out hover:text-white transform hover:scale-110 hover:bg-green-300
            focus:outline-none rounded-lg text-gray-100 font-extrabold bg-green-500 px-10 py-3 shadow-lg tracking-wider active:bg-red-500">
            Get Start!
        </a>
    </div>
</div>
{% endblock main %}